LEXICON_DATA_DIR=../../data
SITE_ADDRESS=:80
HTTP_PORT=80
HTTPS_PORT=443
DICTIONARY_CORS_ORIGINS=http://localhost
DICTIONARY_EXAMPLE_AUDIO_BASE_URL=
DICTIONARY_ILLUSTRATION_BASE_URL=
DICTIONARY_ILLUSTRATION_URL_TEMPLATE=
DICTIONARY_ILLUSTRATION_THUMBNAIL_URL_TEMPLATE=
